@import url("gruvbox-material.css");

* {
  border: none;
  border-radius: 0px;
  font-family: "Iosevka Aile";
  font-size: 14px;
  min-height: 0;
  color: @fg;
}

window#waybar {
  border-bottom-style: inset;
  border-bottom: 2px solid @aqua;
  background: @bg;
}

#workspaces,
#clock,
#custom-music,
#window {
  font-weight: 800;
}

#workspaces {
  font-size: 12px;
}

/* Workspace Buttons */
#workspaces button label {
  color: @aqua;
}

#workspaces button.active label {
  color: @purple;
}

#workspaces button:hover label {
  color: @yellow;
}

#mode {
  background-color: @red;
  color: white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 5px;
  margin: 0 10px;
}

#idle_inhibitor {
  padding: 0 10px;
}

#idle_inhibitor.activated {
  background-color: @aqua;
  color: @bg;
}

#custom-music {
  color: @green;
  margin: 0 15px;
  padding: 0 20px;
  border-bottom: 2px solid @green;
}

#clock {
  margin: 0;
  color: @yellow;
  border-bottom: 2px solid @yellow;
}

#network.disconnected {
  color: @red;
  border-bottom: 2px solid @red;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: @red;
  border-bottom: 2px solid @red;
}

#custom-media.playing {
  border-bottom: 2px solid @green;
}

#custom-media.paused {
  border-bottom: 2px solid @orange;
}

#custom-media.stopped {
  border-bottom: 2px solid @red;
}
